name: Kibot Check

on:
  workflow_call:
    inputs:
      config-file:
        required: true
        type: string
      board-file:
        required: true
        type: string

jobs:
  ERC:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run ERC
        uses: INTI-CMNB/KiBot@v2_k8
        with:
          dir: Generated
          config: ${{ inputs.config-file }}
          board: ${{ inputs.board-file }}
          skip: run_drc
          targets: __NONE__

      - name: Retrieve results
        uses: actions/upload-artifact@v4
        with:
          name: ERC_Output
          path: Generated

  DRC:
    runs-on: ubuntu-latest
    needs: ERC

    steps:
      - uses: actions/checkout@v4

      - name: Run DRC
        uses: INTI-CMNB/KiBot@v2_k8
        with:
          dir: Generated
          config: ${{ inputs.config-file }}
          board: ${{ inputs.board-file }}
          skip: run_erc
          targets: __NONE__

      - name: Retrieve results
        uses: actions/upload-artifact@v4
        with:
          name: DRC_Output
          path: Generated
