name: release-please

on:
  workflow_call:
    inputs:
      config-file:
        required: true
        type: string
      board-file:
        required: true
        type: string
    outputs:
      release_created:
        description: "Whether a release was created"
        value: ${{ jobs.release-please.release_created }}
      tag_name:
        description: "Tag name of the created release"
        value: ${{ jobs.release-please.tag_name }}

jobs:
  release-please:
    permissions:
      contents: write
      pull-requests: write

    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}

    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release-type: simple

  upload-assets:
    permissions:
      contents: write

    needs: release-please
    if: ${{ needs.release-please.outputs.release_created }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ needs.release-please.outputs.tag_name }}

      - name: Build
        uses: INTI-CMNB/KiBot@v2_k8
        with:
          dir: build
          config: ${{ inputs.config-file }}
          board: ${{ inputs.board-file }}
          skip: run_erc,run_drc

      - name: Upload Release Assets
        id: upload-release-assets
        uses: AButler/upload-release-assets@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          release-tag: ${{ needs.release-please.outputs.tag_name }}
          files: build/*
